/*@import"@ant - design/flowchart/dist/index.css";*/
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --white: 0, 0, 0;
  --white-smoke: 249, 249, 252;
  --gray-500: 107, 114, 128;
  --light-stroke: 223, 223, 224;

  --gray-smoke: 110, 110, 115;
  --gray: 130, 143, 153, 1;
  --cloud-brust: 32, 32, 84;
  --lavender-blue: 134, 134, 245;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --paua: 32, 32, 84;
  --gray-900: 17, 24, 39;
  --active-light: 99, 115, 129;
  --gray-400: 100, 116, 139;
  --lemon-green: 31, 137, 44;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.otp div input {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

@layer base {
  html,
  body {
    font-size: 16px;
    font-family:
      Helvetica Neue,
      sans-serif;
    margin: 0;
    padding: 0;
    /*height: 100dvh !important;*/
    /*width: 100vw !important;*/
    overflow-x: hidden;
    /*color: rgb(var(--foreground-rgb));*/
    background-color: rgb(var(--background-end-rgb));
  }

  input {
  }
}

@layer components {
  .invest-modal {
    @apply fixed bottom-0 left-0 right-0 top-12 !max-w-full rounded-none p-0 md:left-[auto] md:top-0;

    .ant-modal-content {
      @apply h-full overflow-auto overflow-x-hidden rounded-none rounded-t-lg p-0 text-primary lg:rounded-none;

      .ant-modal-close {
        @apply !top-[1.8rem];
      }

      .ant-modal-body {
        @apply grid text-primary;
      }
    }

    .slider-container {
      margin-right: 10px; /* Adjust the value to your preferred spacing */
    }
  }

  .risk-modal {
    @apply fixed !top-8 bottom-0 left-0 right-0 !max-w-full md:bottom-auto;

    .ant-modal-content {
      @apply h-full rounded-none rounded-t-lg p-0 text-primary md:rounded-xl;

      .ant-modal-close {
        @apply !top-[1.5rem];
      }

      .ant-modal-header {
        @apply border_gray px-4 py-2 text-base;
      }

      .ant-modal-body {
        @apply grid px-2 text-primary;
      }

      .ant-modal-footer {
        @apply p-4;
      }
    }
  }

  .how-it-works {
    @apply fixed !bottom-0 !top-8 left-0 right-0 !max-w-full md:bottom-auto;

    .ant-modal-content {
      @apply p-0 pb-4;

      .ant-modal-close {
        @apply !top-[1.5rem];
      }

      .ant-modal-header {
        @apply px-4 py-2 text-base;
      }

      .ant-modal-body {
        @apply px-6;
      }

      .ant-modal-footer {
        @apply p-4;
      }
    }
  }
}

@layer components {
  .border_gray {
    border: 1px solid #eae9e8 !important;
  }

  .auth {
    @apply flex min-h-full w-screen flex-col items-center justify-center;
  }

  .auth_container {
    @apply md:border_gray mx-auto mt-32 flex flex-col items-center justify-center space-y-2 rounded-2xl bg-white py-10 text-center md:w-auto  md:px-12 md:shadow-lg;
  }

  .button_primary {
    @apply my-9 cursor-pointer rounded-lg border-0  bg-primary p-[0.625rem_1.25rem] text-lg font-semibold  text-primary outline-none;
  }

  .primary_button {
    @apply border-primary bg-primary text-white;
  }

  .primary_link {
    @apply flex w-full items-center justify-center rounded border-primary bg-primary py-2 text-white;
  }

  .reset {
    @apply m-0 p-0;
  }

  .selector-profile {
    @apply w-full outline-emerald-200;

    .ant-select-selector {
      @apply !rounded-lg border-0 px-3 py-[0.28rem] text-[#000]  !outline-gray-400 transition-all duration-200 ease-linear   peer-focus:text-black-lighter motion-reduce:transition-none dark:text-neutral-500 dark:placeholder:text-neutral-400 dark:peer-focus:text-primary;
    }
  }

  .ant-steps-item-tail {
    top: 3.5rem !important;
    left: 3.5rem !important;
  }

  .how-to-use-steps {
    .ant-steps-item:not(:where(:nth-child(3))) {
      @apply mb-16;
    }

    .ant-steps-item {
      .ant-steps-item-container {
        .ant-steps-item-tail {
          top: 3.5rem !important;
          left: 2.5rem !important;
        }
      }

      .ant-steps-item-title {
        @apply text-xl font-semibold;
      }

      .ant-steps-item-description {
        @apply text-[#6E6E73];
      }

      .ant-steps-item-icon {
        @apply min-w-fit;
      }
    }
  }
}

@layer components {
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the loader covers the full viewport height */

    .loader {
      border: 12px solid #f3b518;
      border-top: 10px solid #f3f3f3;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
      margin: 0 10px; /* Add some horizontal spacing between loaders */
    }

    .loader:first-child {
      left: -22.5px;
      animation-direction: normal;
      margin-right: -22px;
    }

    .loader:last-child {
      left: 23px;
      animation-direction: reverse;
      margin-left: -22px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(720deg);
      }
    }

    .loader:last-child {
      animation-direction: reverse;
      animation-delay: 1s;
    }

    .loader:first-child {
      animation-direction: normal;
      animation-delay: 1s;
    }
  }
}

.ant-collapse-header-text {
  font-weight: 700 !important;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(var(--lavender-blue)) !important;
  border-color: rgb(var(--lavender-blue)) !important;
}

/* width and height are required for Firefox */
/* Track */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For WebKit browsers (Chrome, Safari) */
/* Track */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
/* Track */
/* width and height are required for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Handle on hover */
body:hover {
  scrollbar-color: #555 transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
