@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --white: 0, 0, 0;
  --gray-500: 107, 114, 128;
  --light-stroke: 223, 223, 224;
  --gray-smoke: 110, 110, 115;
  --cloud-brust: 32, 32, 84;
  --lavender-blue: 134, 134, 245;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

a {
  text-decoration: none;
}
